
.mainPage {
    .title {
        font-family: 'FiraSans', sans-serif;
        font-size: 32px;
        color: var(--rbDarkGreen);
        font-weight: 700;
    }
    
    .subtitle {
        font-family: 'FiraSans', sans-serif;
        font-size: 18px;
        color: var(--rbDarkGray);
        font-style: italic;
    }
    
    .nav-link {
        font-family: 'FiraSans', sans-serif;
        font-size: 20px;
        color: var(--rbStrongRed);
    }
    
    .menu-item {
        font-family: 'FiraSans', sans-serif;
        font-size: 16px;
        color: var(--rbLightGray);
    }
    
    .pisun {
        font-family: 'FiraSans', sans-serif;
        font-size: 127px;
        color: var(--rbLightGray);
    }
}
