:root {
    --imgBorscht: url('Borscht.png');
    --imgDumplings: url('Dumplings.png');
    --imgStuffedCabbageRolls: url('StuffedCabbageRolls.png');
    --imgPotatoPancakes: url('PotatoPancakes.png');
    --imgPancakes: url('Pancakes.png');
    --imgBugSoup: url('BugSoup.png');
}
